<div class="rent_details">
    <div class="">
        <h3 class="text-center">You rented a book !</h3>
    </div>

    <div class="">
        <h3>Book details:</h3>
        <div class=""><span>Title:</span><span><%= singleBook.name %></span></div>
        <div class=""><span>Author:</span><span><%= singleBook.author %></span></div>
        <div class=""><span>Year:</span><span><%= singleBook.year %></span></div>
        <div class=""><span>Publisher:</span><span><%= singleBook.publisher %></span></div>
        <div class=""><span>Pages:</span><span><%= singleBook.pages %></span></div>
    </div>
</div>